.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin:auto;
    width: 50%;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    width: 2rem;
    /* border-radius: 15px; */
    border: 1px solid #ccc;
    font: inherit;
    padding: 5px;
  }